<template>
    <main>
        <div v-if="isLoading">
            Loading
        </div>
        <div v-else class="container">
            Results
            <section class="columns is-multiline">
                <template
                        v-for="result in results.slice(pag.current*pag.perPage,pag.current*pag.perPage + pag.perPage )">
                    <div class="column is-one-fifth">
                        <article @click.prevent="openModal(result)" class="card">
                            <div class="card-image">
                                <figure class="image">
                                    <img style="max-height: 20vh;object-fit: contain;" :src="result.Image" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-5">{{ result.Name }}</p>
                                        <p class="subtitle is-6"> {{ result.Manufacturer }}</p>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </template>
            </section>
            <div class="level">
                <b-button class="level-left" type="is-info" :disabled="pag.current === 0" @click="pag.current -= 1">
                    Previous Page
                </b-button>
                <p>{{ pag.current*pag.perPage + 1 }} - {{ ((1 + pag.current)*pag.perPage) < pag.total ? (1 +
                    pag.current)*pag.perPage : pag.total }} / {{ pag.total }}</p>
                <b-button class="level-right" type="is-info" :disabled="(pag.current + 1)*pag.perPage >= pag.total"
                          @click="pag.current += 1">Next Page
                </b-button>
            </div>
        </div>
        <modal @modal-close="closeModal" :open-sync="modalIsOpen" :result="modalData"/>
    </main>
</template>

<script>
import Vue from "vue";
import Modal from "../components/Modal";

export default Vue.extend({
    name: "Results",
    components: {
        Modal
    },
    data() {
        return {
            isLoading: false,
            results: [],
            modalData: {},
            modalIsOpen: false,
            pag: {
                current: 0,
                perPage: 15,
                total: 0
            }
        }
    },
    created() {
        this.loadResults();
    },
    methods: {
        openModal(data) {
            this.modalData = data;
            this.modalIsOpen = true;
        },
        closeModal(){
            this.modalIsOpen = false;
        },
        loadResults() {
            this.isLoading = true;
            let body = this.$store.getters.choices;
            console.log(body);

            fetch("/api/do", {
                body: JSON.stringify(body),
                method: "POST"
            }).then(async res => {
                if (!res.ok) {
                    let err = await res.body();
                    throw new Error(err)
                } else {
                    return res.json()
                }
            })
                .then(data => {
                    this.pag.total = data.length;
                    this.results = data;
                    this.isLoading = false;
                })
                .catch(err => alert(err))
        }
    }
});
</script>
