<template>
    <div>
        <p>Explanation</p>
        <br />
        <b-button type="is-primary" tag="router-link" to="/steps/1">Start</b-button>
    </div>
</template>

<script>
export default {
    name: "Start"
}
</script>