<template>
    <b-modal :active="openSync" @close="closeModal" scroll="keep">
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-5">{{ result.Name }}</p>
                        <p class="subtitle is-6"> {{ result.Manufacturer }}</p>
                    </div>
                </div>
            </div>
        </div>
    </b-modal>
</template>

<script lang="ts">
import Vue, {PropType} from "vue";

interface Result {
    Name: string;
    Manufacturer: string;
}

export default Vue.extend({
    name: "Modal",
    props: {
        openSync: Boolean,
        result: Object as PropType<Result>
    },
    methods: {
        closeModal() {
            this.$emit("modal-close")
        }
    }
});
</script>

<style scoped>

</style>