<template>
    <b-navbar>
        <template slot="brand">
            <b-navbar-item tag="router-link" to="/">
                Ponkey364's PhoneRecommender
            </b-navbar-item>
        </template>
        <template slot="start">
            <b-navbar-item tag="router-link" to="/about">
                About
            </b-navbar-item>
            <b-navbar-dropdown label="Ponkey364">
                <b-navbar-item href="https://ponkey364.gitlab.io/blog/about/">
                    About
                </b-navbar-item>
                <b-navbar-item href="https://ponkey364.gitlab.io/blog">
                    Blog
                </b-navbar-item>
            </b-navbar-dropdown>
        </template>
        <template slot="end">
            <b-navbar-item tag="div">
                <div class="buttons">
                    <b-button tag="router-link" to="/start" type="is-primary">
                        Start
                    </b-button>
                </div>
            </b-navbar-item>
        </template>
    </b-navbar>
</template>

<script>
export default {
    name: "navbar"
};
</script>
