<template>
    <div class="container">
        <div class="columns">
            <div class="column is-one-quarter">
                <b-steps v-model="currentPage" vertical :position="null" :has-navigation="false"
                         label-position="right"
                         :size="null">
                    <b-step-item label="Manufacturer"/>
                    <b-step-item label="Screen Size"/>
                    <b-step-item label="Storage"/>
                    <b-step-item label="Waterproofing" />
                    <b-step-item label="Biometrics" />
                    <b-step-item type="is-success" label="Results" />
                </b-steps>
            </div>
            <div class="column">
                <div class="container ">
                    <router-view />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "StepsIndex",
    data() {
        return {
            activeStep: 0
        }
    },
    computed: {
        currentPage: {
            get() {
                return this.$store.state.currentPage
            }
        }
    }
}
</script>

<style scoped>

</style>