<template>
    <div>
        <div v-if="isLoading">
            Loading
        </div>
        <div v-else>
            <h2 class="subtitle">Do you have a preference of manufacturer?</h2>
            <b-field>
                <b-radio-button :native-value="false" v-model="hasPreference">
                    <span>No</span>
                </b-radio-button>
                <b-radio-button :native-value="true" v-model="hasPreference">
                    <span>Yes</span>
                </b-radio-button>
            </b-field>

            <div v-if="hasPreference">
                <hr/>
                <b-field>
                    <b-taginput placeholder="Select your preferred manufacturer(s)" autocomplete :data="filtered"
                                @typing="getFilteredTags" v-model="manufacturers" size="is-medium" attached
                                type="is-primary" :open-on-focus="true"/>
                </b-field>
            </div>
            <hr/>
            <div class="level">
                <div class="level-left"></div>
                <b-button @click="moveToNext" type="is-success">
                    Next
                </b-button>
            </div>
        </div>
    </div>
</template>

<script>
import {INCR_CURRENT_PAGE, SET_MANUFACTURERS} from "../../store/mutationTypes";
import {ANY} from "../../store";

export default {
    name: "Step1",
    data() {
        return {
            isLoading: false,
            hasPreference: false,
            manufacturers: [],
            filtered: [],
        }
    },
    created() {
        this.getTagsFromDB();
    },
    methods: {
        getTagsFromDB() {
            this.isLoading = true;
            fetch("/api/get-manufs").then(res => res.json()).then(data => {
                this.filtered = data;
                this.isLoading = false;
            })
        },
        getFilteredTags(text) {
            this.filtered = this.manufacturers.filter(option => option.toLowerCase().indexOf(text.toLowerCase()) >= 0)
        },
        moveToNext() {
            this.pushToStore();
            this.$store.commit(INCR_CURRENT_PAGE);
            this.$router.push("2")
        },
        pushToStore() {
            if (this.hasPreference) {
                this.$store.commit(SET_MANUFACTURERS, this.manufacturers)
            } else {
                this.$store.commit(SET_MANUFACTURERS, ANY)
            }
        }
    }
}
</script>