<template>
    <div>
        <h2 class="subtitle">Do you have a preference regarding biometrics?</h2>
        <p>Biometrics refers to sensors such as Face Recognition or a Fingerprint sensor</p>
        <b-field>
            <b-radio-button :native-value="false" v-model="hasPreference">
                <span>No</span>
            </b-radio-button>
            <b-radio-button :native-value="true" v-model="hasPreference">
                <span>Yes</span>
            </b-radio-button>
        </b-field>

        <div v-if="hasPreference">
            <b-field>
                <b-checkbox-button :native-value="1" v-model="selPref">
                    Face Recognition
                </b-checkbox-button>
                <b-checkbox-button :native-value="2" v-model="selPref">
                    Fingerprint Recognition
                </b-checkbox-button>
            </b-field>
        </div>
        <hr/>
        <div class="level">
            <div class="level-left"></div>
            <b-button class="level-right" @click="moveToNext" type="is-success">
                Next
            </b-button>
        </div>
    </div>
</template>

<script>
import {INCR_CURRENT_PAGE, SET_BIOMETRICS} from "../../store/mutationTypes";
import {ANY} from "../../store";

export default {
    name: "Step5",
    data() {
        return {
            hasPreference: false,
            selPref: []
        }
    },
    methods: {
        moveToNext() {
            this.pushToStore();
            this.$store.commit(INCR_CURRENT_PAGE);
            this.$router.push("/results")
        },
        pushToStore() {
            if (!this.hasPreference) {
                this.$store.commit(SET_BIOMETRICS, ANY);
            } else {
                this.$store.commit(SET_BIOMETRICS, this.selPref);
            }
        }
    }
}
</script>