<template>
    <div>
        <h2 class="subtitle">Do you want the device to be waterproof?</h2>
        <b-field>
            <b-radio-button :native-value="0" v-model="preference">
                <span>No</span>
            </b-radio-button>
            <b-radio-button :native-value="1" v-model="preference">
                <span>No Preference</span>
            </b-radio-button>
            <b-radio-button :native-value="2" v-model="preference">
                <span>Water Resistant</span>
            </b-radio-button>
            <b-radio-button :native-value="3" v-model="preference">
                <span>Fully Waterproof</span>
            </b-radio-button>
        </b-field>
        <hr/>
        <div class="level">
            <div class="level-left"></div>
            <b-button class="level-right" @click="moveToNext" type="is-success">
                Next
            </b-button>
        </div>
    </div>
</template>

<script>
import {INCR_CURRENT_PAGE, SET_WATERPROOFING} from "../../store/mutationTypes";
import {ANY} from "../../store";

export default {
    name: "Step4",
    data() {
        return {
            preference: 1,
        }
    },
    methods: {
        moveToNext() {
            this.pushToStore();
            this.$store.commit(INCR_CURRENT_PAGE);
            this.$router.push("5")
        },
        pushToStore() {
            switch (this.preference) {
                case 0: {
                    // None
                    this.$store.commit(SET_WATERPROOFING, 0);
                    break;
                }
                case 2: {
                    // IP _3
                    this.$store.commit(SET_WATERPROOFING, 2);
                    break;
                }
                case 3: {
                    // IP _7 & _8
                    this.$store.commit(SET_WATERPROOFING, 3);
                    break;
                }
                default: {
                    this.$store.commit(SET_WATERPROOFING, ANY);
                    break;
                }
            }
        }
    }
}
</script>