<template>
    <div>
        <h2 class="subtitle">Do you have a preference about screen size?</h2>
        <b-field>
            <b-radio-button :native-value="false" v-model="hasPreference">
                <span>No</span>
            </b-radio-button>
            <b-radio-button :native-value="true" v-model="hasPreference">
                <span>Yes</span>
            </b-radio-button>
        </b-field>

        <div v-if="hasPreference">
            <hr/>
            <b-field>
                <b-slider v-model="size" :min="4" :max="8" :step="0.5" ticks />
            </b-field>
        </div>
        <hr />
        <div class="level">
            <div class="level-left"></div>
            <b-button class="level-right" @click="moveToNext" type="is-success">
                Next
            </b-button>
        </div>
    </div>
</template>

<script>
import {INCR_CURRENT_PAGE, SET_SCREENSIZE} from "../../store/mutationTypes";
import {ANY} from "../../store";

export default {
    name: "Step2",
    data() {
        return {
            hasPreference: false,
            size: []
        }
    },
    methods: {
        moveToNext() {
            this.pushToStore();
            this.$store.commit(INCR_CURRENT_PAGE);
            this.$router.push("3")
        },
        pushToStore() {
            if (this.hasPreference) {
                this.$store.commit(SET_SCREENSIZE, this.size)
            } else {
                this.$store.commit(SET_SCREENSIZE, ANY)
            }
        }
    }
}
</script>