<template>
    <div>
        <h2 class="subtitle">Do you have a preference regarding storage capacity?</h2>
        <b-field>
            <b-radio-button :native-value="false" v-model="hasPreference">
                <span>No</span>
            </b-radio-button>
            <b-radio-button :native-value="true" v-model="hasPreference">
                <span>Yes</span>
            </b-radio-button>
        </b-field>

        <div v-if="hasPreference">
            <hr/>
            <b-field>
                <b-slider v-model="capacity" :min="0" :max="6" :step="1" :tooltip="false">
                    <b-slider-tick :value="0">16GB</b-slider-tick>
                    <b-slider-tick :value="1">32GB</b-slider-tick>
                    <b-slider-tick :value="2">64GB</b-slider-tick>
                    <b-slider-tick :value="3">128GB</b-slider-tick>
                    <b-slider-tick :value="4">256GB</b-slider-tick>
                    <b-slider-tick :value="5">512GB</b-slider-tick>
                    <b-slider-tick :value="6">1TB</b-slider-tick>
                </b-slider>
            </b-field>
        </div>
        <hr/>
        <div class="level">
            <div class="level-left"></div>
            <b-button class="level-right" @click="moveToNext" type="is-success">
                Next
            </b-button>
        </div>
    </div>
</template>

<script>
import {INCR_CURRENT_PAGE, SET_STORAGE_SIZE} from "../../store/mutationTypes";
import {ANY} from "../../store";

export default {
    name: "Step3",
    data() {
        return {
            hasPreference: false,
            capacity: []
        }
    },
    methods: {
        moveToNext() {
            this.pushToStore();
            this.$store.commit(INCR_CURRENT_PAGE);
            this.$router.push("4")
        },
        pushToStore() {
            if (this.hasPreference) {
                this.$store.commit(SET_STORAGE_SIZE, this.capacity)
            } else {
                this.$store.commit(SET_STORAGE_SIZE, ANY)
            }
        }
    }
}
</script>